/* Общие стили для контейнера */
.background {
    position: absolute;
    inset: 0;
    overflow: hidden; /* Предотвращает скроллинг */
    background-color: black;
    height: 100vh; /* Высота на всю страницу */
}

/* Стили для линии */
.line {
    position: absolute;
    width: 5px; /* Начальная ширина линии */
    height: 50vh; /* Высота линии на весь экран */
    opacity: 1;
    border-radius: 5px; /* Скругление краев линии */
    transition: width 0.5s ease-in-out; /* Добавляем время анимации */
}

    .line:hover {
        width: 10px; /* Ширина линии при наведении */
    }
