/* Стили для хедера */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: rgba(255, 255, 255, 0.3); /* Полупрозрачный фон */
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between; /* Меню справа, лого слева */
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 20;
    box-sizing: border-box;
}


/* Логотип */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap'); /* Импортируем шрифт Roboto */

.logo {
    font-size: 38px; /* Крупный текст */
    font-weight: 700;
    font-family: 'Roboto', sans-serif; /* Шрифт Roboto */
    background: linear-gradient(45deg, #ff7f50, /* коралловый */
    #ff6347, /* томатный */
    #ff4500, /* оранжево-красный */
    #32cd32, /* лаймовый */
    #1e90ff, /* синий */
    #8a2be2, /* фиолетовый */
    #ff1493 /* глубокий розовый */
    ); /* Линейный градиент с множеством цветов */
    -webkit-background-clip: text; /* Применение фона к тексту */
    -webkit-text-fill-color: transparent; /* Текст становится прозрачным, чтобы был виден градиент */
    padding: 1px 15px;
    border-radius: 5px;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0), /* Белое свечение по краям */
    0 0 8px rgba(255, 255, 255, 0), /* Мягкий блик вокруг текста */
    0 0 12px rgba(255, 255, 255, 0.4), /* Более мягкий блик для глубины */
    0 0 20px rgba(255, 255, 255, 0.2); /* Очень мягкий блик */
    margin-right: auto; /* Двигаем логотип влево */
    z-index: 21; /* Поднимаем над остальными элементами */
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap; /* Не позволяет переносить текст на следующую строку */
    transition: background 1.5s ease-in-out, text-shadow 1.5s ease-in-out; /* Плавный переход для фона и теней */
    line-height: 100%; /* Выравнивание по вертикали */
}

    .logo:hover {
        background: linear-gradient(45deg, #b9e5ff, #98c9f7 50%, #4a8cbf 50%, #5ab1db); /* Легкий голубой градиент */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.7), 0 0 8px rgba(255, 255, 255, 0.6), 0 0 12px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.3); /* Яркие блики при ховере */
    }









/* Кнопка меню */
.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    position: relative;
    z-index: 12;
    transition: transform 0.3s ease;
}

    /* Полоски кнопки меню */
    .menu-icon .bar {
        width: 100%;
        height: 3px;
        background-color: white;
        transition: all 0.3s ease;
    }

    /* Анимация кнопки при открытии */
    .menu-icon.open .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu-icon.open .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-icon.open .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

/* Стиль для меню */
.menu {
    position: fixed;
    top: 200%;
    right: 0px;
    width: 250px;
    color: #fff;
    background-color: rgba(0,0,0,1);
    background-image: linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), linear-gradient(to left, rgba(255,255,255,1), rgba(255,255,255,0) 2%, rgba(255,255,255,0) 40%, rgba(255,255,255,.3));
    background-repeat: no-repeat;
    background-size: 200% 100%, auto;
    background-position: 200% 0, 0 0;
    box-shadow: rgba(0,0,0,.5) 3px 10px 10px -10px;
    border-radius: 10px;
    padding: 7px 25px;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 40;
    border-radius: 10px;
    padding: 20px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

    .menu.open {
        transform: translateX(0);
    }

    /* Стилизация списка меню */
    .menu ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        color: white;
        width: 100%;
        text-align: center;
    }

        .menu ul li {
            padding: 20px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

            .menu ul li:hover {
                background-color: rgba(255, 255, 255, 0.1);
            }

/* Горизонтальная линия */
.separator {
    width: 80%;
    border: 1px solid white;
    margin: 20px 0;
}

/* Контейнер для переключателей */
.switch-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    padding: 10px 20px;
    box-sizing: border-box;
}

    .switch-container div {
        margin-bottom: 10px;
        color: white;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

/* Кастомный цвет для включенного переключателя */
.MuiSwitch-root .Mui-checked {
    color: white !important; 
}
    /* Для всех переключателей на странице */
    .MuiSwitch-root .Mui-checked .MuiSwitch-thumb {
        background-color: white !important; 
    }

    .MuiSwitch-root .Mui-checked .MuiSwitch-track {
        background-color: rgba(255, 255, 255, 1) !important; 
    }
